/* Header NAV-LINKS */
.nav__link-links:hover {
    color: #fff;
    border-bottom: 1px solid #00f44a;
    padding-bottom: 3px;

    filter: drop-shadow(0 0 30px #fff);
    
    transition: 0.1s ease;
}

/* Header NAV-BTN */
.nav__button:hover {
    color: #00f44a;
    background-color: #070707;
    transform: scale(1.1);

    transition: 0.2s ease;
}

/* Header MAIN-BTN */
.header__main-button-first:hover {
    color: #00f44a;
    background-color: #070707;

    transition: 0.2s ease;
}

.header__main-button-second:hover {
    color: #fff;
    background-color: #070707;

    transition: 0.2s ease;
}

/* Main BUTTON */
.main__button:hover {
    color: #fff;
    background-color: #101010;
    transform: scale(1.1);

    transition: 0.2s ease;
}

/* Main SERVICES-BLOCK-BTN */
.main__services-block-btn:hover {
    color: #00f44a;
    background-color: #151515;
}

/* Main PORTFOLIO-BLOCKS-IMG */
.main__portfolio-img:hover {
    transform: scale(1.05);

    transition: 0.4s ease;
}